<div class="card">
  <h5 class="card-header">User Registration</h5>
  <div class="card-body">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="row mb-3">
        <div class="form-group col">
          <label>Title</label>
          <select class="form-control" formControlName="title" [ngClass]="{'is-invalid':submitted && f['title']}">
            <option></option>
            <option value="Mr">Mr</option>
            <option value="Mrs">Mrs</option>
            <option value="Ms">Ms</option>
            <option value="Miss">Miss</option>
          </select>
          <div *ngIf="submitted && f['title'].errors" class="input-feedback">
            <div *ngIf="f['title'].errors['required']" style="color: red;">
              Title is Required!!!
            </div>
          </div>
        </div>
        <div class="form-group col-5">
          <label>First Name</label>
          <input
            type="text"
            class="form-control"
            formControlName="firstName"
            [ngClass]="{'is-invalid': submitted && f['firstName'].errors}"
          />
          <div *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
          <div *ngIf="f['firstName'].errors['required']" style="color: red;">
            First Name is Mandatory!!
          </div>
          <div *ngIf="f['firstName'].errors['minlength']" style="color: red;">
            Minimum Length Required is 3!!
          </div>
          <div *ngIf="f['firstName'].errors['maxlength']" style="color: red;">
            Maximum Length Allowed is 10!!
          </div>
          </div>
        </div>

        <div class="form-group col-5">
          <label>Last Name</label>
          <input type="text" class="form-control" formControlName="lastName" [ngClass]="{'is-invalid':submitted && f['lastName']}"/>
          <div *ngIf="submitted && f['lastName'].errors" class="invalid-feedback">
            <div *ngIf="f['lastName'].errors['required']" style="color: red;">
              Last Name is Mandatory!!!
            </div>
            <div *ngIf="f['lastName'].errors['minlength']" style="color: red;">
              Minimum Length Required is 3!!!
            </div>
            <div *ngIf="f['lastName'].errors['maxlength']" style="color: red;">
              Maximum Length Allowed is 10!!!
            </div>
            </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="form-group col-5">
          <label>Date of Birth</label>
          <input type="date" class="form-control" formControlName="dob" [ngClass]="{'is-invalid':submitted && f['dob'].errors}"/>
          <div *ngIf="submitted && f['dob'].errors" class="invalid-feedback">
            <div *ngIf="f['dob'].errors['required']" style="color: red;">
              Date is Mandatory!!!
            </div>
            <div *ngIf="f['dob'].errors['pattern']" style="color: red;">
              Date should be in MM/DD/YYYY format!!!
            </div>
            </div>
        </div>
        <div class="form-group col-5">
          <label>Email</label>
          <input type="text" class="form-control" formControlName="email" [ngClass]="{'is-invalid':submitted && f['email'].errors}"/>
          <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
            <div *ngIf="f['email'].errors['required']" style="color: red;">
              Email is Mandatory!!!
            </div>
            <div *ngIf="f['email'].errors['email']" style="color: red;">
              Email must be valid!!!
            </div>
            </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="form-group col-3">
          <label>Password</label>
          <input
            type="password"
            class="form-control"
            formControlName="password"
            [ngClass]="{'is-invalid':submitted && f['password'].errors}"
          />
          <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
            <div *ngIf="f['password'].errors['required']" style="color: red;">
             Password is Mandatory!!!
            </div>
            <div *ngIf="f['password'].errors['minlength']" style="color: red;">
              Password minimum length must be 6!!!
            </div>
            </div>
        </div>
        <div class="form-group col-3">
          <label>Confirm Password</label>
          <input
            type="password"
            class="form-control"
            formControlName="confirmPassword"
            [ngClass]="{'is-invalid':submitted && f['confirmPassword'].errors}"
          />
          <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
            <div *ngIf="f['confirmPassword'].errors['required']" style="color: red;">
             Confirm Password is Mandatory!!!
            </div>
            <div *ngIf="f['confirmPassword'].errors['mustMatch']" style="color: red;">
              Confirm Password must be same!!!
             </div>
            </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="form-group col form-check">
          <label for="acceptTerms" class="form-check-label"
          >Accept Terms & Conditions</label
        >
          <input
            type="checkbox"
            class="form-check-input"
            id="acceptTerms"
            formControlName="acceptTerms"
            [ngClass]="{'is-invalid':submitted && f['acceptTerms'].errors}"
          />
          <div *ngIf="submitted && f['acceptTerms'].errors" class="invalid-feedback">
            <div *ngIf="f['acceptTerms'].errors['required']" style="color: red;">
              Please Accept Terms & Condition to proceed!!!
             </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="form-group text-center">
          <button type="Submit" class="btn btn-success me-1" (click)="onSubmit()">{{buttonText}}
          </button>
          <button type="Cancel" class="btn btn-danger" (click)="onCancel()">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card">
  <h5 class="card-header card-header-list-color">User List</h5>
  <div class="card-body">
    <div class="form-row">
      <div class="form-group col">
        <table class="table table-striped">
          <tr>
            
            <th>Title</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>DOB</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
          <tr *ngFor="let user of users">
            
            <td>{{ user.title }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.dob }}</td>
            <td>{{ user.email }}</td>
            <td>
                <i class = "fa fa-edit" style="color: rgb(20, 65, 227);" (click)="Edit(user.id)"></i>
                <i class="fa fa-trash" style="color: crimson;" (click)="Delete(user.id)"></i>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
